button {
  margin-top: 32px;
}

.seriesWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.content {
  display: flex;
  position: relative;
  padding: 24px;
  gap: 12px;
  width: 60%;
}

.selected {
  background-color: black;
  color: white;
}

.error {
  color: red;
}
