:host {
  display: flex;
  gap: 24px;
}

.container__item {
  padding: 20px;
  width: 96px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  :host {
    flex-direction: column;
    gap: 12px;
  }

  .container__item {
    padding: 12px;
    width: 85%;
  }
}
