:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
  height: 150px;
  background-color: #4ac4c4;
}

.container {
  padding-bottom: 20px;
  display: flex;
}

.container__item {
  padding: 20px;
  width: 96px;
  border: 2px solid #14ded2;
  border-radius: 10px;
  background-color: #a7f8f3;
  color: #12706b;
  cursor: pointer;
}

.selected {
  border-bottom: 2px solid #14ded2;
}
