:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  height: 150px;
  background-color: #4ac4c4;
}

.container__item {
  padding: 20px;
  width: 96px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  :host {
    flex-direction: column;
    gap: 12px;
  }

  .container__item {
    padding: 12px;
    width: 85%;
  }
}
