:host {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #4ac4c4;
  text-align: center;
  box-shadow: 0 3px 9px #9d9d9d;
}

h2 {
  color: #9efffa;
  display: flex;
  align-items: center;
  gap: 24px;

  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    &:first-of-type {
      transform: rotate(90deg);
    }
  }
}

.logOut {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  color: cyan;

  @media screen and (max-width: 700px) {
    top: 24px;
    right: 24px;
    font-size: 12px;
  }

  span {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}

.logOut:hover {
  text-decoration: underline;
}
