@import "../../../app/styles/variables.css";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.muscleGroups-container {
  gap: 24px;
  padding: 0 12px;
  flex-wrap: wrap;
}

.option {
  padding: 12px;
  color: #12706b;
  cursor: pointer;
  &:hover {
    background-color: #114340;
    color: #1ab9b1;
  }
}

.close-cross {
  top: 6px;
  right: 6px;
}

.muscles-container {
  /*display: grid;
  grid-template-columns: repeat(5, 1fr);*/
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  //justify-items: center;
  padding: 24px;
  max-height: 468px;
  overflow: auto;
}

.muscle-card {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
  width: 120px;
  height: 200px;
  cursor: pointer;
  box-shadow: 4px 4px 4px #12706b;
}

.muscle-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selected-box {
  transform: scale(1.3);
  box-shadow: 4px 4px 4px #1ab9b1;
}

.exercise-modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
  }

  &__content {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 60%;
    background-color: #4ac4c4;
    border-radius: 12px;

    button {
      padding: 12px 0;
      border-radius: 12px;
      border: 1px solid #114340;
      color: #114340;
      cursor: pointer;
      background-color: #a9fbf7;
      text-align: center;
      width: 100%;
      &:hover {
        background-color: #114340;
        color: #a9fbf7;
      }
    }

    strong,
    span {
      color: #154949;
    }

    &__seriesWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;

      .number {
        cursor: pointer;
        padding: 8px;
        border-radius: 10px;
        background: white;
        border: 1px solid black;
        width: 40px;
        text-align: center;
        box-shadow: 2px 2px 2px black;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }

      .selected-number {
        box-shadow: none;
        transform: translate(2px, 2px);
        background-color: #114340;
        color: #1ab9b1;
      }
    }
  }
}

.selected-exercises {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
  height: fit-content;
  max-height: 500px;
  overflow: auto;
  background-color: #4ac4c4;
  border-radius: 12px;
  border: 12px solid #4ac4c4;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 32px;
    color: #12706b;
    background-color: #a7f8f3;
    padding: 16px 20px 12px 12px;
    border-radius: 12px;

    mat-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      font-size: 16px;
      width: 16px;
      height: 16px;
      padding: 2px;
      border-radius: 50%;
      cursor: pointer;
      color: #12706b;
      &:hover {
        color: #a7f8f3;
        background-color: #4ac4c4;
      }
    }
  }
}

.selected-routine-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 24px;
  width: 95%;
}

.save-button {
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 60%;
  margin: 24px 0;
  box-shadow: 4px 4px 4px #1ab9b1;
  padding: 12px;
  border: 2px solid #1ab9b1;
  border-radius: 12px;
  background-color: #a7f8f3;
  color: #1ab9b1;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    color: #a7f8f3;
    box-shadow: none;
    background-color: #1ab9b1;
    transform: translate(4px, 4px);
  }

  span {
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
    color: brown;
  }
}

@media screen and (max-width: 900px) {
  .selected-routine-content {
    display: flex;
    flex-direction: column;
  }

  .selected-exercises {
    flex-direction: row;
    max-width: 95%;
    margin-top: 24px;

    &__item {
      min-width: 120px;
    }
  }

  .muscles-container {
    width: 100%;
    justify-content: center;
    padding: 24px 0;
  }
}

@media screen and (max-width: 700px) {
  .muscles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .exercise-modal__content {
    align-items: center;

    &__seriesWrapper {
      justify-content: center;
    }
  }
}
