<h1>Rutina: {{ selectedRoutineName | titlecase }}</h1>

<section class="muscleGroups-container centered">
  <div
    *ngFor="let muscleGroup of muscularGroups"
    (click)="selectedMuscle = muscleGroup"
    class="option scale-hover primary-box"
    [ngClass]="{ 'selected-box': selectedMuscle === muscleGroup }"
  >
    {{ "muscles." + muscleGroup | transloco | titlecase }}
  </div>
</section>

<section *ngFor="let muscleGroup of muscularGroups">
  <div *ngFor="let muscle of selectedMuscleGroup">
    <img src="" />
    <span>{{ muscle | titlecase }}</span>
  </div>
</section>

<div class="selected-routine-content">
  <ng-container *ngFor="let muscleGroup of muscularGroups">
    <section *ngIf="selectedMuscle === muscleGroup" class="muscles-container">
      <div
        *ngFor="
          let exercise of exercisesByMuscleGroup[muscleGroup + 'Exercises']
        "
        class="muscle-card scale-hover primary-box flex-col"
        (click)="handleSelectedCard(exercise)"
      >
        <img /><!--Aquí irán las fotos de los ejercicios-->
        <span>{{ "exercises." + exercise | transloco | titlecase }}</span>
      </div>
    </section>
  </ng-container>

  <section *ngIf="chosenExercises.length > 0" class="selected-exercises">
    <div
      *ngFor="let exercise of chosenExercises"
      class="secondary-box selected-exercises__item"
    >
      <span>{{ "exercises." + exercise.name | transloco | titlecase }}</span>
      <span>{{
        exercise.series.length +
          (exercise.series.length !== 1 ? " series" : " serie")
      }}</span>
    </div>
  </section>
</div>

<button (click)="saveRoutine()" class="secondary-box save-button">
  {{ "selectedRoutine.button" | transloco }}
</button>

<div *ngIf="showExerciseModal" class="exercise-modal__overlay">
  <div class="exercise-modal__content">
    <i (click)="closeModal()" class="exercise-modal__content__icon">X</i>
    <strong>{{ selectedExercise | transloco | titlecase }}</strong>
    <span>
      {{ "exerciseModal.label" | transloco | titlecase }}
      {{
        ": " +
          selectedNumberOfSeries +
          (selectedNumberOfSeries === 1 ? " serie" : " series")
      }}</span
    >
    <div class="exercise-modal__content__seriesWrapper">
      <span
        *ngFor="let number of numberOfSeries"
        (click)="selectedNumberOfSeries = number"
        class="scale-hover"
        >{{ number }}</span
      >
    </div>
    <button (click)="addExercise(selectedExercise, selectedNumberOfSeries)">
      {{ "exerciseModal.button" | transloco | titlecase }}
    </button>
  </div>
</div>

<app-save-modal
  *ngIf="routineSavedSuccessfully === 'OK'"
  class="modal"
  [label]="'¡Rutina Guardada!'"
  [successfullSave]="routineSavedSuccessfully === 'OK'"
></app-save-modal>
