<h1>Rutina: {{ selectedRoutineName | titlecase }}</h1>

<section class="muscleGroups-container centered">
  <div
    *ngFor="let muscleGroup of muscularGroups"
    (click)="selectedMuscle = muscleGroup"
    class="option scale-hover primary-box"
    [ngClass]="{ 'selected-box': selectedMuscle === muscleGroup }"
  >
    {{ "muscles." + muscleGroup | transloco | titlecase }}
  </div>
</section>

<section *ngFor="let muscleGroup of muscularGroups">
  <div *ngFor="let muscle of selectedMuscleGroup">
    <img src="" />
    <span>{{ muscle | titlecase }}</span>
  </div>
</section>

<div class="selected-routine-content">
  <ng-container *ngFor="let muscleGroup of muscularGroups">
    <section *ngIf="selectedMuscle === muscleGroup" class="muscles-container">
      <div
        *ngFor="
          let exercise of exercisesByMuscleGroup[muscleGroup + 'Exercises']
        "
        class="muscle-card scale-hover primary-box"
        (click)="handleSelectedCard(exercise)"
      >
        <img
          [src]="exerciseImagesLinks[exercise]"
        /><!--Aquí irán las fotos de los ejercicios-->
        <span>{{ "exercises." + exercise | transloco | titlecase }}</span>
      </div>
    </section>
  </ng-container>

  <section *ngIf="chosenExercises.length > 0" class="selected-exercises">
    <div
      *ngFor="let exercise of chosenExercises"
      class="selected-exercises__item"
      (click)="onLongPress(exercise)"
    >
      <mat-icon (click)="deleteExercise(exercise)">close</mat-icon>
      <span>{{ "exercises." + exercise.name | transloco | titlecase }}</span>
      <span>{{
        exercise.series.length +
          (exercise.series.length !== 1 ? " series" : " serie")
      }}</span>
      <!--<app-properties-popup
        *ngIf="exercise.showProperties"
        class="modal"
        [properties]="['delete']"
        (clickOutside)="exercise.showProperties = false"
        (selectedOption)="popupSelectedOption($event, exercise)"
      ></app-properties-popup>-->
    </div>
  </section>
</div>

<button (click)="saveRoutine()" class="save-button">
  {{ "selectedRoutine.button" | transloco }}
  <span *ngIf="noChosenExercises" class="noChosenExercises">{{
    "routine.noChosenExercises" | transloco
  }}</span>
</button>

<app-series-modal
  *ngIf="showExerciseModal"
  [selectedExercise]="selectedExercise"
  (closeModal)="showExerciseModal = false"
  (applySavedSeries)="addExercise(selectedExercise, $event)"
></app-series-modal>

<app-save-modal
  *ngIf="routineSavedSuccessfully === 'OK'"
  class="modal"
  [label]="'¡Rutina Guardada!'"
  [successfullSave]="routineSavedSuccessfully === 'OK'"
></app-save-modal>
