@import '../../styles/variables.css';

:host {
    margin: 20px;
}

image {
    width: 100px;
    height: 100px;
}

.routine-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 34px;
}

.routine-top-add {
    padding: 32px;
    color: #12706b;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.routine-content {
    flex-wrap: wrap;
    gap: 32px 64px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 124px;
    height: 200px;
}