<div class="form-container">
  <form (ngSubmit)="handleSubmit()" method="get">
    <label for="name">{{ "login.name" | transloco | titlecase }}</label>
    <input type="text" name="name" [(ngModel)]="loggedUser.name" />

    <label for="password">{{ "login.password" | transloco | titlecase }}</label>
    <input type="password" name="password" [(ngModel)]="loggedUser.password" />

    <input type="submit" value="{{ 'login.init' | transloco | titlecase }}" />
    <span (click)="onRegister()" class="register">{{
      "login.register" | transloco
    }}</span>
  </form>
</div>
