<form (ngSubmit)="handleSubmit()" method="get">
  <span *ngIf="logError" class="logError">{{
    "login.logError" | transloco
  }}</span>
  <div class="input-border">
    <mat-icon>person</mat-icon>
    <input
      type="text"
      name="name"
      autocomplete="off"
      [placeholder]="'login.name' | transloco | titlecase"
      [(ngModel)]="loggedUser.name"
    />
  </div>

  <div class="input-border">
    <mat-icon>lock</mat-icon>
    <input
      type="password"
      name="password"
      autocomplete="off"
      [placeholder]="'login.password' | transloco | titlecase"
      [(ngModel)]="loggedUser.password"
    />
  </div>

  <!--<input type="submit" value="{{ 'login.init' | transloco | titlecase }}" />-->
  <button class="login" type="submit">
    {{ "login.init" | transloco | titlecase }}
  </button>
  <button (click)="onRegister()" class="login login__register" type="submit">
    {{ "login.register" | transloco }}
  </button>
</form>
