:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .fieldError {
    color: #bb0000;
  }
}

.form-container {
  width: 25%;
  border: 2px solid #4ac4c4;
  border-radius: 10px;
  padding: 24px 12px;
  background-color: #a7f8f3;
}

.dropdown-label {
  position: relative;
  margin-bottom: 32px;
  .dropdown {
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: translateY(100%);
  }
}

@media screen and (max-width: 850px) {
  .form-container {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 75%;
  }
}
