<form (ngSubmit)="handleSubmit()" method="get">
  <div class="input-border">
    <mat-icon>person</mat-icon>
    <div class="fieldError">
      <ng-container *ngFor="let error of validationErrors">
        <span *ngIf="error.field === 'name'">{{
          error.message | capitalizefirst
        }}</span>
      </ng-container>
    </div>
    <input
      type="text"
      name="name"
      autocomplete="off"
      [placeholder]="'register.name' | transloco | titlecase"
      [(ngModel)]="newUser.name"
    />
  </div>

  <div class="input-border">
    <mat-icon>mail</mat-icon>
    <div class="fieldError">
      <ng-container *ngFor="let error of validationErrors">
        <span *ngIf="error.field === 'email'">{{
          error.message | capitalizefirst
        }}</span>
      </ng-container>
    </div>
    <input
      type="email"
      name="email"
      autocomplete="off"
      [placeholder]="'register.email' | transloco | titlecase"
      [(ngModel)]="newUser.email"
    />
  </div>

  <div class="input-border">
    <mat-icon>lock</mat-icon>
    <div class="fieldError">
      <ng-container *ngFor="let error of validationErrors">
        <span *ngIf="error.field === 'password'">{{
          error.message | capitalizefirst
        }}</span>
      </ng-container>
    </div>
    <input
      type="password"
      name="password"
      autocomplete="off"
      [placeholder]="'register.password' | transloco | capitalizefirst"
      [(ngModel)]="newUser.password"
    />
  </div>

  <div class="input-border">
    <mat-icon>lock</mat-icon>
    <div class="fieldError">
      <ng-container *ngFor="let error of validationErrors">
        <span *ngIf="error.field === 'confirmPassword'">{{
          error.message | capitalizefirst
        }}</span>
      </ng-container>
    </div>

    <input
      type="password"
      name="confirmPassword"
      autocomplete="off"
      [placeholder]="'register.confirmPassword' | transloco | titlecase"
      [(ngModel)]="newUser.confirmPassword"
    />
  </div>

  <div class="dropdownError">
    <ng-container *ngFor="let error of validationErrors">
      <span *ngIf="error.field === 'sex'">{{
        error.message | capitalizefirst
      }}</span>
    </ng-container>
  </div>

  <app-dropdown
    class="dropdown"
    [options]="dropdownOptions"
    [label]="'register.sex' | transloco | titlecase"
    [showOptions]="showDropdownOptions$"
    (selectedOption)="onSelectedOption($event)"
    (clickOutside)="onClickOutside()"
  ></app-dropdown>

  <button
    *ngIf="(showDropdownOptions$ | async) === false"
    class="login login__register"
    type="submit"
  >
    {{ "register.save" | transloco | titlecase }}
  </button>
</form>

<app-save-modal
  *ngIf="successRegister"
  class="modal"
  [label]="'login.successRegister' | transloco"
  [successfullSave]="successRegister"
></app-save-modal>
