<section class="week-top">
  <h1>Semanas</h1>
  <div (click)="showWeekModal = true" class="add_week centered primary-box">
    <span>{{ "week.add" | transloco }}</span>
    <i>+</i>
  </div>
</section>

<section *ngIf="myWeeks.length > 0" class="weeks-container">
  <span
    *ngFor="let week of myWeeks"
    (click)="selectWeek(week)"
    [ngClass]="{ 'selected-box': selectedWeek.id === week.id }"
    class="primary-box week"
    >{{ week.name }}</span
  >
</section>

<ng-container *ngFor="let week of myWeeks">
  <section
    *ngIf="selectedWeek.id === week.id"
    class="week-days-container centered"
  >
    <span
      *ngFor="let day of week.days"
      (click)="selectWeekDay(day)"
      class="primary-box week-day"
      [ngClass]="{ 'selected-box': areEqualObjects(selectedDay, day) }"
    >
      {{ "daysOfWeek." + day.name | transloco }}
    </span>
  </section>
</ng-container>

<section *ngIf="selectedDay">
  <div *ngIf="!selectedDay?.routine; else routine" class="no-routine">
    <span
      >No hay ninguna rutina asociada al
      {{ "daysOfWeek." + selectedDay.name | transloco }}</span
    >
    <button (click)="openRoutinesModal()" class="secondary-box">
      Añadir rutina
    </button>
  </div>

  <ng-template #routine>
    <h2 class="routine-title centered">
      {{ "daysOfWeek." + selectedDay.name | transloco }} de
      {{ selectedDay.routine?.name }}
    </h2>

    <section>
      <div
        *ngFor="let exercise of selectedDay.routine?.exercises; let i = index"
      >
        <h3>{{ "exercises." + exercise.name | transloco }}</h3>
        <div
          *ngFor="let serie of exercise.series; let j = index"
          class="primary-box series"
          [style.margin-bottom]="showLastWeek ? '80px' : '12px'"
          (click)="
            copySerie(serie);
            saveExerciseAndSerieIndex(i, j);
            selectedExercise = exercise
          "
        >
          <strong>Serie {{ j + 1 }}:</strong> X
          {{ serie.reps ? serie.reps : "___" }} X
          {{ serie.weight ? serie.weight : "___" }} Kgs

          <div
            class="last-week"
            [style.transform]="
              showLastWeek ? 'translateY(0)' : 'translateY(-20px)'
            "
            [style.opacity]="showLastWeek ? '1' : '0'"
          ></div>
          <i (click)="handleShowLastWeek(exercise.name, j)">{{
            showLastWeek ? "↑" : "↓"
          }}</i>
        </div>
      </div>
    </section>
  </ng-template>
</section>

<app-routine-modal
  *ngIf="showWeekModal"
  (closeModal)="showWeekModal = false"
  (addNewRoutine)="addNewWeek($event)"
  [labelText]="'week.modal-label' | transloco"
  class="modal"
></app-routine-modal>

<div *ngIf="showRoutinesModal" class="modal">
  <div class="flex-col content primary-box modal-content">
    <div
      *ngIf="savedRoutines.length > 0; else noRoutines"
      class="flex-col-cent"
    >
      <i (click)="showRoutinesModal = false" class="centered close-cross">X</i>
      <h2>Selecciona rutina a añadir</h2>
      <span *ngIf="selectedAssociatedRoutine"
        >Rutina seleccionada: {{ selectedAssociatedRoutine.name }}</span
      >
      <span *ngIf="!isRoutineSelected">¡Debes Seleccionar una rutina!</span>
      <section class="routines-wrapper">
        <span
          *ngFor="let routine of savedRoutines"
          (click)="
            selectedAssociatedRoutine = routine; isRoutineSelected = true
          "
          >{{ routine.name }}</span
        >
      </section>

      <button
        (click)="associateRoutine(selectedAssociatedRoutine)"
        class="secondary-box"
      >
        Asociar rutina
      </button>
    </div>

    <ng-template #noRoutines>
      <span>No hay ninguna rutina guardada</span>
      <button (click)="goToRoutines()" class="secondary-box">
        Ir a rutinas
      </button>
    </ng-template>
  </div>
</div>

<div *ngIf="showSerieModal" class="modal">
  <div class="modal-content primary-box">
    <i (click)="closeModal()" class="close-cross">X</i>
    <section>
      <h2>{{ "exercises." + selectedExercise.name | transloco }}</h2>
      <h3>Serie {{ editedSerieIndex + 1 }}</h3>
    </section>

    <section class="input-field">
      <label for="reps">Repeticiones</label>
      <input
        type="number"
        min="0"
        id="reps"
        name="reps"
        [(ngModel)]="selectedSerie.reps"
      />
    </section>

    <section class="input-field">
      <label for="weight">Peso</label>
      <input
        type="number"
        min="0"
        id="weight"
        name="weight"
        [(ngModel)]="selectedSerie.weight"
      />
    </section>

    <section class="modal-buttons-container">
      <button (click)="applyChanges()" class="modal-buttons secondary-box">
        Aceptar
      </button>
      <button (click)="closeModal()" class="modal-buttons secondary-box">
        Cancelar
      </button>
    </section>
  </div>
</div>
