<div
  class="content centered"
  [ngClass]="{ 'primary-box': successfullSave, 'error-box': !successfullSave }"
>
  <div *ngIf="successfullSave; else error" class="success">
    <mat-icon>task_alt</mat-icon>
    <span class="flex-col-cent">{{ label }}</span>
  </div>

  <ng-template #error>
    <div class="flex-col-cent">
      <mat-icon>warning</mat-icon>
      <span>{{ errorLabel }}</span>
      <button (click)="onCloseModal()">
        {{ "button.accept" | transloco }}
      </button>
    </div>
  </ng-template>
</div>
