:host {
  position: relative;
}

button.dropdown {
  width: 100%;
  cursor: pointer;
  text-align: center;
  border: 1px solid #4ac4c4;
  border-radius: 26px;
  padding: 12px 0;
  box-shadow: 6px 6px 4px #4ac4c4;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 12px;
  &__open,
  &:hover {
    background-color: #4ac4c4;
    color: #dbfffd;
    transform: translate(6px, 6px);
    box-shadow: none;
  }
}

.option-container {
  position: absolute;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  bottom: -12px;
  left: 6px;
  transform: translateY(100%);
  border-radius: 12px;
  padding: 16px 0;
  border: 2px solid #dbfffd;
  background-color: #4ac4c4;
  color: #dbfffd;
  box-shadow: 8px 8px 8px #4ac4c4;

  span {
    width: 95%;
    padding: 4px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
  }

  span:hover {
    background-color: #a7f8f3;
    color: #4ac4c4;
  }
}
