:host {
  width: 100%;
  background-color: white;
  border: 1px solid black;
}

.selector-container {
  position: relative;

  .selector {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  .option-container {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);

    span {
      border-bottom: 1px solid black;
      padding: 4px;
      cursor: pointer;
    }

    span:hover {
      background-color: #a7f8f3;
    }
  }
}
