/* Estilos Globales */
body {
  all: unset; /* Para quitar los estilos por defecto */
  font-family: cursive, "Josefin Sans", "Chivo", "Dosis", "Preahvihear",
    sans-serif !important;
}

p-progressSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Barra de desplazamiento vertical */
::-webkit-scrollbar {
  width: 0px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #a7f8f3; /* Color del "pulgón" de la barra */
  border-radius: 6px; /* Borde redondeado del "pulgón" */
}

::-webkit-scrollbar-track {
  background-color: white; /* Color de fondo de la barra de desplazamiento */
}

/* Barra de desplazamiento horizontal */
::-webkit-scrollbar:horizontal {
  height: 0px; /* Alto de la barra de desplazamiento horizontal */
}

button {
  all: unset;
}

h1 {
  font-size: 2em;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-box {
  border: 2px solid #14ded2;
  background-color: #a7f8f3;
  border-radius: 10px;
  text-align: center;
  color: #12706b;
}

.secondary-box {
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}

.error-box {
  border: 2px solid #850a06;
  background-color: #bb1711;
  border-radius: 10px;
  text-align: center;
  color: #850a06;
}

.secondary-box:hover {
  background-color: black;
  color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-cent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scale-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.scale-hover:not(:hover) {
  transform: scale(1);
  transition: all 0.3s;
}

.selected-box {
  background-color: #114340;
  color: #1ab9b1 !important;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.close-cross {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  font-family: monospace;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-cross:hover {
  background-color: #87cbc8;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
