@import "../../../app/styles/variables.css";

h1 {
  white-space: nowrap;
}

h2 {
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.routines-content {
  width: 100%;
  position: relative;
  min-height: 300px;
}

.my-routines-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;

  .routine {
    position: relative;
  }
}

.my-routines-wrapper span {
  cursor: pointer;
}

.my-routines-wrapper span {
  padding: 12px;
}

.routines-exercise-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.routine-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.routine-top-add {
  padding: 32px;
  color: #12706b;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.register-exercises {
  margin-bottom: 12px;
}

.noRoutines {
  h2 {
    text-align: center;
  }

  img {
    width: 50%;
    margin-top: 32px;
  }
}

.title-edit {
  display: flex;
  align-items: center;
  gap: 4px;

  button {
    font-size: 12px;
    cursor: pointer;
  }

  button:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 530px) {
  .routine-top {
    flex-direction: column;
    align-items: center;
  }

  .routine-top-add {
    width: 85%;
  }
}
