@import "../../../app/styles/variables.css";

:host {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.my-routines-wrapper {
  display: flex;
  gap: 12px;
}

.my-routines-wrapper span {
  cursor: pointer;
}

.my-routines-wrapper span {
  padding: 12px;
}

.routine-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 34px;
}

.routine-top-add {
  padding: 32px;
  color: #12706b;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 200px;
}
